.container__small-card{
    display: flex;
    border-bottom: 1px solid gray;
    width: 100%;
    max-width: 620px;
    margin-bottom: 16px;
    padding: 4px 8px 28px 0;
}

.small-card__image > img{
    width: 200px;
    min-width: 160px;
    margin-right: 16px;
    min-height: 90px;
    max-height: 120px;
}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
