<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover="https://cdn.pixabay.com/photo/2023/10/06/08/25/ai-generated-8297728_1280.jpg" 
            cardTitle="Panda é encontrado andando em bicicleta"
            cardDescription="No meio da rua de curitiba é visto panda em cima de uma bicicleta e ainda por cima em movimento!!!"
            >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            photoImage="https://cc-prod.scene7.com/is/image/CCProdAuthor/FF-SEO-text-to-image-marquee-1x?$pjpeg$&jpegSize=100&wid=600"
            cardTitle="Cachorro é flagrado com o cabelo colorido!!!"
        >
        </app-small-card>
        <app-small-card
            id="3"
            photoImage="https://t.ctcdn.com.br/HfaAfdSP0yElfXWQelkeEQvkgyU=/1000x563/smart/i257652.jpeg"
            cardTitle="Papagaio sobrevoando é fotografado de cima!!!"
        >
        </app-small-card>
        <app-small-card
            id="4"
            class="last-small-card"
            photoImage="https://static.vecteezy.com/ti/fotos-gratis/p1/22653879-fantasia-ilha-com-cachoeiras-3d-ilustracao-elementos-do-isto-imagem-mobiliado-de-nasa-generativo-ai-gratis-foto.jpg"
            cardTitle="O que aconteceria se uma ilha começasse a flutuar?"
        >
        </app-small-card>
    </div>
</div>